# Environment files
.env
**/.env

# Databases
*.db

# Python virtual environments
venv/
backend/venv/

# Python cache
__pycache__/
*.py[cod]

# Node
node_modules/

# Build outputs
dist/
build/

# VS Code
.vscode/

# Logs
*.log